.navigation {
  display: flex;
  justify-content: center;
  gap: 100px;
}

.listItem {
  font-size: 16px;
  padding-bottom: 10px;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  color: #fff;
  text-decoration: none;
}

.listItem:hover {
  color: #ff5c35;
  border-bottom: 5px solid #ff5c35;
  transition: ease 0.2s;
}

.active {
  color: #ff5c35;
  border-bottom: 5px solid #ff5c35;
}
