.button {
  padding: 12px 40px;
  border: 2px solid #ff5632;
  border-radius: 15px;
  background-color: #fff;

  font-size: 18px;

  font-family: inherit;

  text-transform: uppercase;
  font-weight: 500;

  cursor: pointer;
}

/* .button:hover {
  background: #ff5632;
  color: #fff;
} */

@media screen and (max-width: 768px) {
  .button {
    padding: 12px 30px;
    font-size: 14px;
  }
}

@media screen and (max-width: 448px) {
  .button {
    padding: 12px 20px;
    font-size: 16px;
  }
}

@media screen and (max-width: 375px) {
  .button {
    font-size: 13px;
  }
}
