.blog {
  /* background-color: #333333; */
  background: url("../assets/faith-declaration-1.jpg");

  background-size: cover;
  background-position: center;

  padding-top: 250px;
}

@media screen and (max-width: 769px) {
  .blog {
    padding-top: 200px;
  }
}

@media screen and (max-width: 475px) {
  .blog {
    padding-top: 150px;
  }
}
