.contactContainer {
  background: url("../assets/faith-declaration-1.jpg");

  background-size: cover;
  background-position: center;

  padding-top: 300px;
  font-family: Alegreya;

  color: #fff;
}

.contactMain {
  background-color: #1e232b;
  padding: 100px 20px;
}

.contactWrapper {
  background: #efefef;

  /* padding: 20px; */
  width: 70%;

  margin: 0 auto;

  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.contactAddress {
  padding: 80px;
}

.contactVenue {
  color: #686868;
  font-size: 22px;
  font-family: Alegreya;
  line-height: 30px;
  font-weight: 700;
  margin-bottom: 25px;
  text-transform: uppercase;
}

.contactAddressPhone {
  font-size: 30px;
  color: #4c4c4c;
  margin-bottom: 15px;
  font-family: Alegreya;
}

.contactImage {
  background: url("../assets/bible.jpg");
  background-size: cover;
  background-position: center;
}

.contactForm {
  padding: 40px;
  /* background-color: orange; */
}

.contactUs {
  padding-top: 20px;
  margin-bottom: 30px;
  font-size: 30px;
  font-family: Alegreya;
  text-transform: uppercase;
}

.contactFormInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
}

.formInput {
  width: 100%;
  padding: 10px;
  font-size: 20px;
  font-family: Alegreya;
  border: none;
  border-bottom: 1px solid #ff5c35;
  color: #8cabfb;
  background-color: transparent;
  outline: none;
}

.formInput::placeholder {
  color: #ff5c35;
}

.formButton {
  padding: 12px 30px;
  color: #ff5c35;
  /* background-color: #8cabfb; */
  border-color: #ff5c35;
  font-size: 20px;
  font-family: Alegreya;
  font-weight: 600;
  border-radius: 30px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.formButton:hover {
  background-color: #ff5c35;
  color: #fff;
}

@media screen and (max-width: 1024px) {
  .contactMain {
    padding: 50px 20px;
  }
  .contactWrapper {
    width: 100%;
  }

  .contactAddress {
    padding: 40px;
  }
}

@media screen and (max-width: 769px) {
  .contactMain {
    padding: 100px 20px;
  }

  .contactAddress {
    padding: 20px;
  }

  .contactVenue {
    font-size: 20px;
  }

  .contactAddressPhone {
    font-size: 25px;
  }

  .contactForm {
    padding: 20px;
  }

  .contactUs {
    font-size: 25px;
  }

  .formInput {
    font-size: 18px;
  }

  .formButton {
    font-size: 18px;
  }
}

@media screen and (max-width: 448px) {
  .contactWrapper {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 0.5fr 1fr;
  }
  .contactAddress {
    padding: 70px 20px;
  }

  .contactVenue {
    font-size: 16px;
    text-align: left;
    width: 50%;
  }

  .contactAddressPhone {
    font-size: 18px;
  }

  .contactForm {
    padding: 20px;
  }

  .contactUs {
    font-size: 20px;
  }

  .formInput {
    font-size: 16px;
  }

  .formButton {
    font-size: 16px;
  }
}

@media screen and (max-width: 376px) {
  /* .contactAddress {
    padding: 50px 20px;
  }

  .contactVenue {
    font-size: 18px;
  }

  .contactAddressPhone {
    font-size: 20px;
  } */

  .contactForm {
    padding: 15px;
  }

  .contactUs {
    font-size: 20px;
  }

  .formInput {
    font-size: 16px;
  }

  .formButton {
    font-size: 16px;
  }
}
