.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background-color: rgba(89, 91, 95, 0.647);
  position: fixed;
  width: 100%;
  z-index: 10;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px,
    rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

.logoContainer {
  text-align: center;
}

.logo {
  width: 120px;
  height: auto;
}

.menuIcon {
  font-size: 28px;
  color: #fff;
  cursor: pointer;
  display: none;
}

.menuWrapper {
  display: flex;
  gap: 40px;
  padding-right: 50px;
}

.menuOpen {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 60px;
  right: 10px;
  background-color: #595b5f;
  padding: 20px;
  border-radius: 8px;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 8px;
}

@media screen and (max-width: 768px) {
  .menuClosed {
    display: none;
  }
  .menuOpen {
    top: 150px;
    right: 5px;
    width: 300px;
    padding: 40px;
  }
  .menuWrapper {
    flex-direction: column;
  }

  .menuIcon {
    display: block;
  }
}

@media screen and (max-width: 426px) {
  .logo {
    width: 100px;
  }
}
