.footer {
  padding: 100px;
  background-color: #1e232b;
  color: #fff;
}

.footerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
}

.logo {
  width: 200px;
  height: 200px;
}

.title {
  color: #ab815a;
  font-size: 22px;
  font-family: Alegreya;
  margin-bottom: 20px;
  text-transform: uppercase;
}

.paragraph {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 10px;
}

.contactInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.paragraph2 {
  text-align: center;
  margin-bottom: 15px;
  width: 250px;
}

@media screen and (max-width: 769px) {
  .footer {
    padding: 50px;
  }

  .footerContainer {
    flex-direction: column;
    gap: 20px;
  }

  .title,
  .paragraph {
    text-align: center;
  }
}

@media screen and (max-width: 375px) {
  .footer {
    padding: 70px 20px;
  }
}
