.externalContainer {
  background: #e0e0e0;
}

.generosityContainer {
  height: auto;
  padding: 50px 150px;
  padding-bottom: 100px;
}

.outOfPageFlow {
  /* display: flex;
  justify-content: center; */
  position: relative;
  top: -150px;
}

.generosityIcon {
  width: 128px;
  height: 128px;

  /* margin-bottom: 20px; */
}

.generositySection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;

  font-family: "Alegreya";
}

.generosityTitle {
  text-transform: uppercase;
  font-size: 14px;
}

.ilatic {
  font-style: italic;
  font-weight: 400;
}

.generosityPassage {
  font-size: 48px;
  text-align: center;
  font-weight: 500;
  color: #444444;
}

.generosityScripture {
  font-size: 22px;
  color: #1e232b;
}

@media screen and (max-width: 1024px) {
  .generosityContainer {
    padding: 100px 50px;
  }
}

@media screen and (max-width: 768px) {
  .generosityContainer {
    padding: 0 50px 50px 50px;
  }
  .generosityPassage {
    font-size: 41px;
  }

  .generosityScripture {
    font-size: 19px;
  }
}

@media screen and (max-width: 448px) {
  .generosityContainer {
    height: auto;
    padding: 0px 25px 50px 25px;
  }
  .generosityPassage {
    font-size: 30px;
  }

  .generosityScripture {
    font-size: 13px;
  }
}
