.headerContainer {
  padding: 0px 0 300px 0;
  background-image: url("../../public/assets/header-image.jpg");
  background-position: top;
  background-size: cover;

  color: #fff;
}

.headerHeroSection {
  padding: 300px 50px 0 50px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.headerHeroHeader {
  font-family: "Alegreya", serif;
  font-weight: 500;
  font-size: 80px;
  text-align: center;
}

.headerHeroText {
  margin-top: 40px;
  font-size: 20px;
  text-align: center;
  font-family: Roboto;

  margin-bottom: 100px;
}

@media screen and (max-width: 1024px) {
  .headerHeroHeader {
    font-size: 66px;
  }

  .headerHeroText {
    font-size: 17px;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 769px) {
  .headerHeroHeader {
    font-size: 69px;
    margin-bottom: 100px;
  }

  .headerHeroText {
    display: none;
  }
}

@media screen and (max-width: 448px) {
  .headerContainer {
    padding: 100px 0 250px 0;
  }
  .headerHeroHeader {
    font-size: 38px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 375px) {
  .headerHeroHeader {
    font-size: 34px;
  }
}

@media screen and (max-width: 320px) {
  .headerHeroHeader {
    font-size: 29px;
  }
}
