.heavenOnEarth {
  padding: 100px;
  background-image: url("../assets/heaven-on-earth.jpg");
  background-size: cover;
  background-position: center;
}

.heavenOnEarthLabel {
  font-size: 48px;
  font-family: "Alegreya";

  text-align: center;
  color: #ffffff;
}

@media screen and (max-width: 769px) {
  .heavenOnEarthLabel {
    font-size: 41px;
  }
}

@media screen and (max-width: 448px) {
  .heavenOnEarth {
    padding: 50px 25px;
  }
  .heavenOnEarthLabel {
    font-size: 30px;
  }
}
