.visionStatement {
  padding: 120px 150px;

  font-family: "Alegreya";

  display: grid;
  grid-template-columns: 400px 400px;
  column-gap: 100px;

  width: 80%;
  margin: 0 auto;
}

.visionTitle {
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
}

.mainTitle {
  font-size: 48px;
  font-weight: 500;
}

.subTitle {
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px;
}

.visionDescription {
  font-size: 22px;
  font-weight: 600;
  color: #686868;
}

@media screen and (max-width: 1024px) {
  .visionStatement {
    width: 100%;
    padding: 100px 100px;
    grid-template-columns: 1fr 2fr;
  }
}

@media screen and (max-width: 769px) {
  .visionStatement {
    padding: 80px 50px;
    /* grid-template-columns: 1fr; */
    column-gap: 50px;
  }
}

@media screen and (max-width: 448px) {
  .visionStatement {
    padding: 100px 70px;
    grid-template-columns: 1fr;
    column-gap: 0px;
  }

  .visionTitle {
    margin-bottom: 20px;
    text-align: center;
  }

  .mainTitle {
    font-size: 29px;
    font-weight: 500;
  }

  .subTitle {
    font-size: 12px;
  }

  .visionDescription {
    font-size: 18px;
    text-align: center;
  }
}

@media screen and (max-width: 376px) {
  .visionStatement {
    padding: 80px 20px;
  }

  .mainTitle {
    font-size: 24px;
  }

  .subTitle {
    font-size: 10px;
  }

  .visionDescription {
    font-size: 16px;
  }
}
